<volist name="user_list" id="vo">
        	<tr>
            	<td class="num">{$vo.user_id}</td>
                <td class="name">{$vo.user_name}</td>
                <td class="nickname">{$vo.user_nickname}</td>
                <td class="dept">{$vo.user_deptid}</td>
                <td class="sex">{$vo.user_sex}</td>
                <td class="birthday">{$vo.birthday|date='Y-m-d',###}</td>
                <th class="tel">{$vo.user_tel}</th>
                <th class="email">{$vo.user_email}</th>
                <th class="ctime">{$vo.user_ctime}</th>
                <th class="operate">操作</th>
            </tr>
            </volist>